@font-face {
    font-family: "GentiumBookBasic Bold";
    src: url("../fonts/GenBkBasB.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "OpenSans Italic";
    src: url("../fonts/OpenSans-Italic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "OpenSans Bold";
    src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "YesevaOne";
    src: url("../fonts/YesevaOne-Regular_v2.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Lato Regular";
    src: url("../fonts/Lato-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

